* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: black;
	text-decoration: none;
}

ul {
	list-style: none;
}

.header {
	margin-bottom: 10rem;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
	padding: 1.5rem;
	position: relative;
}

.nav-menu {
	flex-basis: 100%;
}

.menu-btn {
	margin-left: auto;
	opacity: 0;
	cursor: pointer;
	flex-basis: 30px;
}

.menu-icon {
	height: 2px;
	width: 20px;
	background-color: black;
	position: absolute;
	right: 1.8em;
	top: 2.8em;
	cursor: pointer;
}

.menu-icon::before,
.menu-icon::after {
	content: "";
	height: 100%;
	width: 100%;
	background-color: black;
	position: absolute;
	right: 0;
	transition: all 0.1s ease-out;
}

.menu-icon::before {
	top: -5px;
}

.menu-icon::after {
	top: 5px;
}

.nav-menu {
	display: none;
}

.menu-btn:checked ~ .nav-menu {
	display: block;
	cursor: pointer;
}

.menu-btn:checked ~ .menu-icon {
	background-color: transparent;
	transition: all 0.1s ease-out;
}

.menu-btn:checked + .menu-icon::before,
.menu-btn:checked + .menu-icon::after {
	top: 0;
}

.menu-btn:checked + .menu-icon::before {
	transform: rotate(45deg);
}

.menu-btn:checked + .menu-icon::after {
	transform: rotate(-45deg);
}

.nav-item {
	display: block;
}

.container {
	position: relative;
	/* Setting the height directly as a percentage does not work. Vertical
	padding is used to fill the element and effectively set the height *as a
	percentage of the width*
	56.25% => 16:9 width to height ratio (9 / 15 * 100 = 56.25) */
	padding-top: 56.25%;
}

.container iframe {
	/* The container creates the space for the iframe and keeps the aspect ratio,
	and the iframe is just stretched over the container. */
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

