* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: monospace;
	height: 1000vh;
}

h1 {
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

h2 {
	margin: 1em 0;
}

.box-model {
	max-width: 800px;
	margin: 5em auto;
}

.element {
	width: 80%;
	margin: 0 auto;
}

.margin {
	padding: 2em;
	border: 1px dashed darkgoldenrod;
	background-color: rgb(255, 246, 212);
	position: relative;
}

.margin::before {
	content: 'margin';
	position: absolute;
	top: 3%;
	left: 2%;
	background-color: rgb(255, 246, 212);
}

.border {
	padding: 0.4em;
	background-color: rgb(108, 107, 107);
}

.border::before {
	content: 'border';
	position: absolute;
	top: 12%;
	left: 9%;
	color: white;
	background-color: rgb(108, 107, 107);
	padding: 0 5px;
}

.padding {
	padding: 2em;
	background-color: rgb(255, 216, 255);
}

.padding::before {
	content: 'padding';
	position: absolute;
	top: 23%;
	left: 17%;
	background-color: rgb(255, 216, 255);
}

.content {
	padding: 1em;
	background-color: rgb(202, 239, 248);
	border: 1px dashed blue;
	text-align: center;
}

.content::before {
	content: 'content';
	position: absolute;
	top: 43%;
	left: 25%;
	background-color: rgb(202, 239, 248);
}

.header {
	padding: 4em;
	/* position: fixed; */
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	z-index: 1;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.sticky {
	position: sticky;
	top: 0;
	left: 0;
	padding: 2em;
	background: white;
	box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}
