@font-face {
	font-family: "Proxima Nova";
	font-weight: normal;
	src: url('fonts/proxima-nova/ProximaNova-Regular.woff') format('woff');
}

@font-face {
	font-family: "Proxima Nova";
	font-weight: bold;
	src: url('fonts/proxima-nova/ProximaNova-Bold.woff') format('woff');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Proxima Nova';
	font-size: 1.2rem;
	font-weight: lighter;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	display: inline-block;
	color: black;
}

img {
	width: 100%;
}

.container {
	width: 90vw;
	max-width: 60rem;
	margin: 0 auto;
}

.btn {
	text-transform: uppercase;
	font-size: 1.2rem;
	background-color: white;
	letter-spacing: 0.1rem;
	padding: 1rem 2rem;
}

.nav {
	display: flex;
	padding: 3rem 0;
}

.nav-logo {
	width: 25rem;
	margin-right: 2rem;
}

.nav-list {
	display: flex;
	flex-basis: 100%;
	justify-content: space-around;
}

.nav-item {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
}

.nav-link {
	text-transform: uppercase;
}

.hero {
	background:
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('images/spacex-OHOU-5UVIYQ-unsplash.2e16d0ba.fill-1600x800.jpg');
	background-position: center;
	background-size: cover;
	padding: 10rem 0;
	color: white;
	display: flex;
	align-items: center;
}

.hero-heading {
	font-size: 5rem;
	margin-bottom: 1.5rem;
}

.hero-text {
	font-size: 2rem;
	margin-bottom: 4rem;
}

.services {
	padding: 6rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.services-heading {
	flex-basis: 100%;
	text-align: center;
	margin-bottom: 6rem;
}

.services-card {
	border: 1px solid lightgrey;
	flex-basis: 28rem;
	text-align: center;
	padding-bottom: 2rem;
}

.services-card-header {
	font-weight: bold;
	padding: 2rem 0;
}

.services-card-text {
	padding: 0 3rem;
	margin-bottom: 1.5rem;
}

.services-card-btn {
	color: rgb(129, 78, 191);
	font-size: 1rem;
	position: relative;
}

.services-card-btn::after {
	content: "›";
	font-size: 1.5rem;
	position: absolute;
	right: 1rem;
	top: 0.6rem;
}
