@font-face {
	font-family: "Proxima Nova";
	font-weight: normal;
	src: url('fonts/proxima-nova/ProximaNova-Thin.woff') format('woff');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	padding: 2em;
}

body {
	font-family: 'Proxima Nova';
	font-size: 1.2em;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	display: inline-block;
	color: black;
}

img {
	width: 100%;
}

nav,
.hero-content {
	width: 80vw;
	max-width: 61em;
	margin: 0 auto;
}

nav {
	display: flex;
}

.nav-logo {
	width: 25rem;
	margin-right: 2em;
}

.nav-list {
	display: flex;
	flex-basis: 100%;
	justify-content: space-around;
}

.nav-item {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
}

.nav-link {
	text-transform: uppercase;
}

.hero {
	background:
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('images/spacex-OHOU-5UVIYQ-unsplash.2e16d0ba.fill-1600x800.jpg');
	background-position: center;
	background-size: cover;
	height: 740px;
	color: white;
	padding: 11em 0;
}

.hero-heading {
	font-size: 3.2em;
	width: 10em;
}

.hero-text {
	font-size: 1.5em;
	font-weight: bold;
	margin: 1em 0;
}

.btn {
	background-color: white;
	text-transform: uppercase;
	font-size: 0.6em;
	padding: 1em 2em;
	margin: 0.5em 0;
}
